# -*- mode: gitignore; -*-
# clojure
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# org-mode
.org-id-locations
*_archive

# eshell files
/eshell/history
/eshell/lastdir
